/* 

/* # General
================================ */

body {
  font-family: 'Cormorant Garamond', Helvetica, sans-serif;
}

/* # Header, Main Menu
================================ */
.page-wrapper {
  display: block;
  width: 100%;
}
aside {
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px;
}
@media (min-width: 700px){
aside {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    flex: 0 0 50%;
    padding: 0;
}
article {
  flex: 0 0 50%;
  margin-left: 50%;
  padding-top: 30px;
}
.author, .photographer {
  padding: 0 60px;
}


}
h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
  
}
.flourish {
  font-size: 6vw;
  margin: 10px 0;
  font-family: "Oxygen", sans-serif;
  text-align: center;
}
aricle {
  font-family: "Cormorant Garamond", serif;
    font-size: 18px;
}
.image img {
  width: 100%;
  margin: 20px 0;
}
.text {
  /* columns: 2; */
  column-width: 100%;
  column-gap: 2em;
  padding: 0 20px;
  text-align: justify;
}
.primer:first-child{
    margin-top: 0;
  
   }
.primer:first-letter {
     float: left;
   color: red;
   font-size: 4em;
   line-height: 35px;
   padding: 19px 10px 10px 0;
  }

.author span, .photographer span {
  color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}


.bio {
    margin: 0 20px;
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    font-family: "Cormorant Garamond", serif;
    font-size: 28px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
}
.navbar {
  opacity: 0.8;
  margin-bottom: 0;
  background-color: #fff;
  transition: all 0.2s ease-out;
  height: 150px;
} 
.ulBar {
  color:rgba(187, 15, 15, 0.4) !important;
} */

.navbar-container {
  position: relative;
  
}
a {
  color: #000;
}

.navbar .navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #2E1C05;
  transition: all 0.2s ease-out;
  
}

.navbar-brand {
  font-size: 25px;
  transition: all 0.2s ease-out;
  font-size: 28px;
}

.navbar-scroll {
  opacity: 1;
} */

.p {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

#top-social-menu {
  display: none;
}

.hero-button {
  background: #fff;
  color: #444;
  border: 0;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
}

 button:hover {
    animation-name: background-color;
    animation-duration: 1000ms;
	 animation-fill-mode: forwards;

  }
@keyframes background-color {
  100% {
    background-color: #f791d0;
  }
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    display: flex;
    justify-content: flex-end;
    color: #000 !important;
}
.nav-item {
  margin: 0px 60px;
  color: #000 !important;
  font-weight: bold;
}
}


@media (min-width: 768px) {
  .navbar {
    height: 150px;
     display: flex;
  justify-content: flex-end;
    /* color: #f791d0 !important; */
  
  }

  .navbar-brand {
    font-size: 40px;
    padding: 0;
    height: 120px;
    margin-right: 160px;
    line-height: 120px;
    color: #000 !important;
    font-weight:500;


  }
  /* .navLi {
    color: #000 !important;
  } */
	
	

  #top-social-menu {
    display: initial;
  }
}




/* # Social menu
================================ */

#top-social-menu {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 12px;
  z-index: 101;
  padding-right: 0px;
  list-style: none;
  color: #2E1C05;
  transition: all 0.2s ease-out;
}

#top-social-menu li {
  float: left;
  padding: 10px 15px;
}

#top-social-menu li:last-child {
  padding-right: 0;
}

#top-social-menu li a {
  text-decoration: none;
  color: #2E1C05;
}

#top-social-menu li a:hover {
  text-decoration: none;
  color: #543A1A;
}

#top-social-menu i {
 	font-size: 16px;
  
  transition: all 0.2s ease-in;
}

#top-social-menu i:hover {
  text-decoration: none;
  color: #543A1A;
}

/* # Section Full Width Image
================================ */

.full-width-img {
  background: url('https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  height: 450px;
  color: #fff;
}

.box {
	background: rgba(0, 0, 0, 0.1);
  border: 3px solid #000;
  color: rgb(17, 16, 16);
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px;
}

.subheading-text {
  list-style: none;
  font-size: 35px;
  line-height: 50px;
}


@media (min-width: 768px) {

  .full-width-img {
    padding-top: 110px;
    height: 1000px;
  }

  .subheading-text {
    font-size: 60px;
    line-height: 70px;
  }

  .smaller-text {
    font-size: 25px;
    line-height: 40px;
    list-style: none;

  }

  .box {
    margin-top: 100px;
    padding: 80px 20px;
  }
}
/* # Section Black, White
================================ */

.section-black,
.section-white {
	padding: 50px 0;
	color: #fff;
	line-height: 1.5;
}

.section-black h3,
.section-white h3 {
  margin-bottom: 60px;
  margin-top: 60px;
  font-weight: 400;
  font-size: 4em;
}

.section-black p,
.section-white p {
  margin-bottom: 50px;
}

.section-black {
	background: linear-gradient(#363437, #121112);
}

.section-white {
	background: linear-gradient(#ffffff, #f3f3f3);
  color: #0e0d0e;
}

h3:hover {
  transform: scale(1.05);
};
.page-wrapper {
  display: block;
  width: 100% ;
}

@media screen and (max-width: 760px){
#contact {
    height: 1000px;
}
.section-header {
  font-size: 65px;
}
.direct-contact-container {
  margin-top: 60px;
  max-width: 300px;
}
}
#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}
.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}
.form-horizontal {
  /* float: left; */
  /* max-width: 400px; */
  font-family: 'Lato';
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.open {
  display: flex;
  flex-direction: row;
  z-index: 0;
  align-items: center;
  background-color: pink !important;
  height: 300px;
  width: 260px;
  border-radius: 15px;
  border: #fff 1px solid;
  padding-left: 150px;
  font-size: 39px;
  font-weight: bold;
  /* padding: 20px; */
}